.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px;
  /* background-color: #2a2a2a; */
  /* background: radial-gradient(circle at top left, #2a2a2a, #202020 60%, #1a1a1a); */
  background: none;
  margin-top: 2rem;
  border-radius: 12px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.search-filter input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.search-filter input:focus {
  border-color: #007bff;
}

.top-btn button,
.bot-btn button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.3s;
}

.top-btn button:hover,
.bot-btn button:hover {
  background-color: #0056b3;
}

.select-section {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.select-section:focus {
  border-color: #007bff;
}
